<a href="https://colab.research.google.com/github/nidhishrworks-rgb/Credit-Exploratory-Data-Analysis/blob/main/Copy_of_Nidhish_Credit_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_columns', None)

In [ ]:
  from google.colab import files
uploaded = files.upload()

In [ ]:
app_data = pd.read_csv('application_data.csv')
app_data.head()

Data Inspection On Application Dataset

In [ ]:
app_data.info()

Data Quality Check

check for percentage null values application dataset

In [ ]:
pd.set_option('display.max_rows', None)
app_data.isnull().mean()*100

Conclusion : columns with null values more than 47% may give wrong insights , hence will drop them

Dropping columns with more than 47% null values

In [ ]:
percentage = 47
threshold = int(((100 - percentage)/100)*app_data.shape[0]+1)
app_data = app_data.dropna(axis=1, thresh=threshold)
app_data.head()

In [ ]:
app_data.shape

In [ ]:
app_data.isnull().mean()* 100

Impute Missing Values

check missing values before imputing the dataset

In [ ]:
 app_data.info()

Occupation_type column has 31% , missing values, since its a categorial column, imputting values with a unkonwn values

In [ ]:
app_data.OCCUPATION_TYPE.isnull().mean()*100

In [ ]:
  app_data.OCCUPATION_TYPE.value_counts(normalize=True)*100

In [ ]:
app_data.OCCUPATION_TYPE.fillna('Others', inplace=True)

In [ ]:
app_data.OCCUPATION_TYPE.isnull().mean()*100

In [ ]:
app_data.OCCUPATION_TYPE.value_counts(normalize=True)*100

EXT_Source_3 Column has 19% missing values

In [ ]:
app_data.EXT_SOURCE_3.isnull().mean()*100

In [ ]:
app_data.EXT_SOURCE_3.value_counts(normalize=True)*100

In [ ]:
app_data.EXT_SOURCE_3.describe()

In [ ]:
sns.boxplot(app_data.EXT_SOURCE_3)
plt.show()

In [ ]:
app_data.EXT_SOURCE_3.fillna(app_data.EXT_SOURCE_3.median(), inplace=True)

In [ ]:
app_data.EXT_SOURCE_3.isnull().mean()*100

In [ ]:
  app_data.EXT_SOURCE_3.value_counts(normalize=True)*100

Conclusion : Since its a numerical values with no outliners and there is not a much difference between mean and median

In [ ]:
null_cols = list(app_data.isna().any())
len(null_cols)

In [ ]:
app_data.isnull().mean()*100

Handling missing values in columns with 13% null values

In [ ]:
app_data.AMT_REQ_CREDIT_BUREAU_HOUR.value_counts(normalize=True)*100

In [ ]:
app_data.AMT_REQ_CREDIT_BUREAU_DAY.value_counts(normalize=True)*100

In [ ]:
Cols = [ "AMT_REQ_CREDIT_BUREAU_HOUR" , "AMT_REQ_CREDIT_BUREAU_DAY" , "AMT_REQ_CREDIT_BUREAU_WEEK" , "AMT_REQ_CREDIT_BUREAU_MON" , "AMT_REQ_CREDIT_BUREAU_QRT" , "AMT_REQ_CREDIT_BUREAU_YEAR" ]

In [ ]:
for col in Cols:
  app_data[col].fillna(app_data[col].mode()[0], inplace=True)

In [ ]:
app_data.isnull().mean()*100

In [ ]:
print(app_data.columns)  # List all column names in `app_data`
print(Cols)              # Check the values in `Cols`

In [ ]:
print(app_data.columns.tolist())

In [ ]:
app_data.columns = app_data.columns.str.upper().str.strip()
Cols = [col.upper() for col in Cols]  # Ensure both are in uppercase

Handling missing values less than 1%

In [ ]:
null_cols = list(app_data.isna().any())
len(null_cols)

In [ ]:
app_data.NAME_TYPE_SUITE.value_counts(normalize=True)*100

In [ ]:
app_data.EXT_SOURCE_2.value_counts(normalize=True)*100

In [ ]:
app_data.OBS_30_CNT_SOCIAL_CIRCLE.value_counts(normalize=True)*100

In [ ]:
app_data.NAME_TYPE_SUITE.fillna(app_data.NAME_TYPE_SUITE.mode()[0], inplace=True)

In [ ]:
app_data.CNT_FAM_MEMBERS.fillna(app_data.CNT_FAM_MEMBERS.mode()[0], inplace=True)

In [ ]:
app_data.EXT_SOURCE_2.fillna(app_data.EXT_SOURCE_2.median(), inplace=True)
app_data.AMT_GOODS_PRICE.fillna(app_data.AMT_GOODS_PRICE.median(), inplace=True)
app_data.AMT_ANNUITY.fillna(app_data.AMT_ANNUITY.median(), inplace=True)
app_data.OBS_60_CNT_SOCIAL_CIRCLE.fillna(app_data.OBS_60_CNT_SOCIAL_CIRCLE.median(), inplace=True)
app_data.DEF_60_CNT_SOCIAL_CIRCLE.fillna(app_data.DEF_60_CNT_SOCIAL_CIRCLE.median(), inplace=True)
app_data.OBS_30_CNT_SOCIAL_CIRCLE.fillna(app_data.OBS_30_CNT_SOCIAL_CIRCLE.median(), inplace=True)
app_data.DEF_30_CNT_SOCIAL_CIRCLE.fillna(app_data.DEF_30_CNT_SOCIAL_CIRCLE.median(), inplace=True)
app_data.DAYS_LAST_PHONE_CHANGE.fillna(app_data.DAYS_LAST_PHONE_CHANGE.median(), inplace=True)

In [ ]:
null_cols = list(app_data.columns[app_data.isna().any()])
len(null_cols)

In [ ]:
app_data.isnull().mean()*100

PART - 2

Convert negative values into positives

In [ ]:
app_data.DAYS_BIRTH = app_data.DAYS_BIRTH.apply(lambda x:abs(x))
app_data.DAYS_EMPLOYED = app_data.DAYS_EMPLOYED.apply(lambda x:abs(x))
app_data.DAYS_REGISTRATION = app_data.DAYS_REGISTRATION.apply(lambda x:abs(x))
app_data.DAYS_ID_PUBLISH = app_data.DAYS_ID_PUBLISH.apply(lambda x:abs(x))
app_data.DAYS_LAST_PHONE_CHANGE = app_data.DAYS_LAST_PHONE_CHANGE.apply(lambda x:abs(x))

Binning of Continuous Variables

Standardizing Days columns in years for binning

In [ ]:
app_data["YEARS_BIRTH"] = app_data.DAYS_BIRTH.apply(lambda x: x/365)
app_data["YEARS_EMPLOYED"] = app_data.DAYS_EMPLOYED.apply(lambda x: x/365)
app_data["YEARS_REGISTRATION"] = app_data.DAYS_REGISTRATION.apply(lambda x: x/365)
app_data["YEEARS_ID_PUBLISH"] = app_data.DAYS_ID_PUBLISH.apply(lambda x: x/365)
app_data["YEARS_LAST_PHONE_CHANGE"] = app_data.DAYS_LAST_PHONE_CHANGE.apply(lambda x: x/365)

Binning AMT_CREDIT Column

In [ ]:
app_data["AMT_CREDIT"].value_counts(normalize=True) * 100

In [ ]:
app_data.AMT_CREDIT.describe()

In [ ]:
import math
from sklearn import datasets
labels = datasets.load_iris().target
app_data["AMT_CREDIT_Category"]=pd.cut(app_data.AMT_CREDIT, [0,200000,400000,600000,800000,1000000],  labels = ["very low credit","low credit","medium credit","high credit","very high credit"])

In [ ]:
app_data.AMT_CREDIT_Category.value_counts(normalize=True)*100

In [ ]:
app_data["AMT_CREDIT_Category"].value_counts(normalize = True).plot.bar()
plt.show()

conclusion : the credit of loan for amount low( 2L to 4L) or very high(8)

Binning YEARS_BIRTH column

In [ ]:
app_data["AGE_CATEGORY"] = pd.cut(app_data.YEARS_BIRTH, [0,25,45,65,85],
                         labels = ["Below 25","25-45","45-65","65-85"])

In [ ]:
app_data.AGE_CATEGORY.value_counts(normalize=True)*100

In [ ]:
app_data["AGE_CATEGORY"].value_counts(normalize = True).plot.pie(autopct= '%1.2f%%')
plt.show()

.Conclusion Most of the applicants are in between 25 - 45 age group

In [ ]:
app_data.head()

Driving application dataset with target variable as 0 to 1

In [ ]:
tar_0 = app_data[app_data.TARGET == 0]
tar_1 = app_data[app_data.TARGET == 1]

In [ ]:
app_data.TARGET.value_counts(normalize=True)*100

Conclusion : one 1 of 9/10 are default applicants

Univariate Analysis

In [ ]:
import numpy as np
import pandas as pd

# Assuming app_data is your DataFrame
cat_cols = list(app_data.columns[app_data.dtypes == np.dtype('O')])
num_cols = list(app_data.columns[app_data.dtypes == np.int64]) + list(app_data.columns[app_data.dtypes == np.float64])

In [ ]:
cat_cols

In [ ]:
num_cols

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Assuming 'app_data' is your DataFrame and 'cat_cols' is your list of categorical column names

for col in cat_cols:
    num_unique_categories = app_data[col].nunique()
    if num_unique_categories == 2:
        print(f"Value counts for column: {col}")
        print(app_data[col].value_counts(normalize=True))

        plt.figure(figsize=[5, 5])
        app_data[col].value_counts(normalize=True).plot.pie(labeldistance=None, autopct='%1.2f%%')
        plt.title(f"Distribution of {col}")
        plt.ylabel(None) # Remove default ylabel
        plt.legend(title="Categories", loc="best", labels=app_data[col].value_counts().index)
        plt.tight_layout()
        plt.show()
    else:
        print(f"Column '{col}' has {num_unique_categories} categories. Skipping pie chart.")

Plot on numerical columns

categorizing the columns with and without flags

In [ ]:
num_cols_withoutflag = []
num_cols_withflag = []
for col in num_cols:
    if 'FLAG' in col:
        num_cols_withflag.append(col)
    else:
        num_cols_withoutflag.append(col)

In [ ]:
 num_cols_withflag

In [ ]:
num_cols_withoutflag

In [ ]:
for col in num_cols_withoutflag:
  print(app_data[col].describe())
  plt.figure(figsize = [8,5])
  sns.boxplot(data=app_data, x=col)
  plt.show()
  print("--------------------------------")

Univariate Analysis on columns with target o and 1

In [ ]:
for col in cat_cols:
  print(f"plot on {col} for target 0 and 1")
  plt.figure(figsize = [10,7])
  plt.subplot(1,2,1)
  tar_0[col].value_counts(normalize=True).plot.bar()
  plt.title("target 0")
  plt.xlabel(col)
  plt.ylabel("density")
  tar_1[col].value_counts(normalize=True).plot.bar()
  plt.title("target 1")
  plt.xlabel(col)
  plt.ylabel("density")
  plt.show()
  print("\n\n------------------------------\n\n")

In [ ]:
plt.figure(figsize = [10,6])
sns.distplot(tar_0['AMT_GOODS_PRICE'],label = 'tar_0', hist=False)
sns.distplot(tar_1['AMT_GOODS_PRICE'],label = 'tar_1', hist=False)
plt.legend()
plt.show()

Conclusion : the price of the goods for which the loan is given has the same variation for the target

Bivariate and Multivariate analysis

Bivariate analysis between weekday_appr_process_start vs hour_appr_process_start

In [ ]:
plt.figure(figsize = (15,10))
plt.subplot(1,2,1)
sns.boxplot( x = 'WEEKDAY_APPR_PROCESS_START', y = 'HOUR_APPR_PROCESS_START', data = tar_0)
plt.subplot(1,2,2)
sns.boxplot( x = 'WEEKDAY_APPR_PROCESS_START', y = 'HOUR_APPR_PROCESS_START', data = tar_1)
plt.show()

bivariate analysis between amt_credit and age_category

In [ ]:
plt.figure(figsize = (15,10))
plt.subplot(1,2,1)
sns.boxplot( x = 'AGE_CATEGORY', y = 'AMT_CREDIT', data = tar_0)
plt.subplot(1,2,2)
sns.boxplot( x = 'AGE_CATEGORY', y = 'AMT_CREDIT', data = tar_1)
plt.show()

pair plot of amount columns for target 0

In [ ]:
sns.pairplot(tar_0[["AMT_GOODS_PRICE","AMT_INCOME_TOTAL","AMT_CREDIT","AMT_ANNUITY"]])
plt.show()

In [ ]:
sns.pairplot(tar_1[["AMT_GOODS_PRICE","AMT_INCOME_TOTAL","AMT_CREDIT","AMT_ANNUITY"]])
plt.show()

corelations between numerical columns

In [ ]:
corr_data=app_data[["AMT_GOODS_PRICE","AMT_INCOME_TOTAL","AMT_CREDIT","AMT_ANNUITY","YEARS_BIRTH","YEARS_EMPLOYED","YEARS_REGISTRATION","YEEARS_ID_PUBLISH","YEARS_LAST_PHONE_CHANGE"]].corr()
corr_data.head()

In [ ]:
corr_data.corr()

In [ ]:
plt.figure(figsize = (10,10))
sns.heatmap(corr_data.corr(), annot = True, cmap="RdYlGn")
plt.show()

split the numerical variables based on target 0 and 1 to find corealation

In [ ]:
corr_data_0 = tar_0[["AMT_GOODS_PRICE","AMT_INCOME_TOTAL","AMT_CREDIT","AMT_ANNUITY","YEARS_BIRTH","YEARS_EMPLOYED","YEARS_REGISTRATION","YEEARS_ID_PUBLISH","YEARS_LAST_PHONE_CHANGE"]].corr()
corr_data_0.head()

In [ ]:
plt.figure(figsize = (10,10))
sns.heatmap(corr_data_0.corr(), annot = True, cmap="plasma")
plt.show()

In [ ]:
corr_data_1 = tar_1[["AMT_GOODS_PRICE","AMT_INCOME_TOTAL","AMT_CREDIT","AMT_ANNUITY","YEARS_BIRTH","YEARS_EMPLOYED","YEARS_REGISTRATION","YEEARS_ID_PUBLISH","YEARS_LAST_PHONE_CHANGE"]]
corr_data_1.head()

In [ ]:
plt.figure(figsize = (10,10))
sns.heatmap(corr_data_1.corr(), annot = True, cmap="plasma")
plt.show()

PART - 3

Read previous application csv

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
papp_data=pd.read_csv('previous_application.csv')
papp_data.head()

data inspection on previous application dataset

get info and data on the dataset

In [ ]:
papp_data.info()

In [ ]:
papp_data.shape

data quality check

check on percentage null value on the dataset

In [ ]:
papp_data.isnull().mean()*100

In [ ]:
percentage = 49
threshold_p = int(((100 - percentage)/100) * papp_data.shape[0] + 1)
papp_data = papp_data.dropna(axis=1, thresh=threshold_p)
papp_data.head()

In [ ]:
percentage = 49
threshold_p = int(((100 - percentage)/100) * papp_data.shape[0] + 1)
print(f"Calculated threshold: {threshold_p}") # It's always a good idea to check the value

In [ ]:
papp_data.shape

impute missing values

check dtypes of missing values in application dataset before imputting values

In [ ]:
for col in papp_data.columns:
  if papp_data[col].dtypes == np.int64 or papp_data[col].dtypes == np.float64:
    papp_data[col] = papp_data[col].apply(lambda x: abs(x))

In [ ]:
### validate if any null values present in dataset

In [ ]:
null_cols = list(papp_data.columns[papp_data.isna().any()])
len(null_cols)

In [ ]:
papp_data.isnull().mean()*100

Binning of continous variables

binning amt_credit column

In [ ]:
print(papp_data.columns)

In [ ]:
papp_data.AMT_CREDIT.describe()

In [ ]:
papp_data["AMT_CREDIT_Category"] = pd.cut(papp_data.AMT_CREDIT,
                                           [0, 200000, 400000, 600000, 800000, 1000000],
                                           labels=["very low credit", "low credit", "medium credit", "high credit", "very high credit"])

In [ ]:
papp_data["AMT_CREDIT_Category"].value_counts(normalize = True).plot.bar()
plt.show()

In [ ]:
papp_data["AMT_GOODS_PRICE_Category"] = pd.qcut(papp_data["AMT_GOODS_PRICE"],
                                                q=[0, 0.25, 0.45, 0.65, 0.85, 1],
                                                labels=["very low price", "low price", "medium price", "high price", "very high price"])

plt.show() # This line will show any subsequent plots you create

In [ ]:
papp_data["AMT_GOODS_PRICE_Category"].value_counts(normalize = True).plot.pie(autopct='%1.2f%%')
plt.legend()
plt.show()

data imbalance check

Data Imbalance Check

dividing application dataset with name_contract_status

In [ ]:
approved = papp_data[papp_data['NAME_CONTRACT_STATUS'] == 'Approved']
refused = papp_data[papp_data['NAME_CONTRACT_STATUS'] == 'Refused']
cancelled = papp_data[papp_data['NAME_CONTRACT_STATUS'] == 'Cancelled']
unused = papp_data[papp_data['NAME_CONTRACT_STATUS'] == 'Unused offer']

In [ ]:
print(papp_data['NAME_CONTRACT_STATUS'].unique())

In [ ]:
papp_data.NAME_CONTRACT_STATUS.value_counts(normalize=True)*100

In [ ]:
papp_data = pd.read_csv('previous_application.csv') # Replace with your actual path

In [ ]:
unknown = papp_data[papp_data['NAME_CONTRACT_STATUS'] == 'Unknown']
print(f"Number of 'Unknown' applications: {unknown.shape[0]}")
# You can then analyze the 'unknown' DataFrame separately

In [ ]:
print(papp_data['NAME_CONTRACT_STATUS'].value_counts())

In [ ]:
print(papp_data['NAME_CONTRACT_STATUS'].value_counts(normalize=True) * 100)

In [ ]:
papp_data.NAME_CONTRACT_STATUS.value_counts(normalize=True).plot.pie(autopct='%1.2f%%')
plt.legend()
plt.show()

Univariate Analysis

In [ ]:
import numpy as np
import pandas as pd # Make sure you've imported pandas

# Assuming papp_data is your DataFrame
cat_cols = list(papp_data.columns[papp_data.dtypes == 'object'])
num_cols = list(papp_data.columns[(papp_data.dtypes == np.int64) | (papp_data.dtypes == np.float64)])

In [ ]:
cat_cols

In [ ]:
num_cols

Plot On Categorial Columns

In [ ]:
for col in cat_cols:
  print(papp_data[col].value_counts(normalize = True)*100)
  plt.figure(figsize = [5,5])
  papp_data[col].value_counts(normalize = True).plot.pie(labeldistance = None, autopct = '%1.2f%%')
  plt.legend()
  plt.show()
  print('-------------------------------')

Plot on Numerical Columns

In [ ]:
for col in num_cols:
  print("99th percentile",np.percentile(papp_data[col],99))
  print(papp_data[col].describe())
  plt.figure(figsize = [10,6])
  sns.boxplot(data = papp_data, x = col)
  plt.show()
  print('-----------------------------------')

Bivariate and Multivariate Analysis

Bivariate analysis between WEEKDAY_PROCESS_START VS AMT_APPLICATION

In [ ]:
plt.figure(figsize = [10,5])
sns.barplot(x = 'WEEKDAY_APPR_PROCESS_START', y = 'AMT_APPLICATION', data = approved)
plt.title('plot for approved')
plt.show()

In [ ]:
plt.figure(figsize = [10,5])
sns.barplot(x = 'WEEKDAY_APPR_PROCESS_START', y = 'AMT_APPLICATION', data = cancelled)
plt.title('plot for cancelled')
plt.show()

In [ ]:
print(approved.columns)

In [ ]:
print(approved.head())

In [ ]:
for col in papp_data.columns:
    print(col)

Bivariate Analysis between AMT_ANNUITY  VS  AMT_GOODS_PRICE

In [ ]:
plt.figure(figsize = [10,5])
plt.subplot(1,4,1)
plt.title('Approved')
sns.scatterplot(x = 'AMT_ANNUITY', y = 'AMT_GOODS_PRICE', data = approved)
plt.subplot(1,4,2)
plt.title('Refused')
sns.scatterplot(x = 'AMT_ANNUITY', y = 'AMT_GOODS_PRICE', data = refused)
plt.subplot(1,4,3)
plt.title('Cancelled')
sns.scatterplot(x = 'AMT_ANNUITY', y = 'AMT_GOODS_PRICE', data = cancelled)
plt.subplot(1,4,4)
plt.title('Unused')
sns.scatterplot(x = 'AMT_ANNUITY', y = 'AMT_GOODS_PRICE', data = unused)
plt.show()

Corellation between numerical columns

In [ ]:
corr_approved= approved[["AMT_ANNUITY","AMT_APPLICATION","AMT_CREDIT","AMT_GOODS_PRICE","CNT_PAYMENT","DAYS_FIRST_DRAWING","DAYS_FIRST_DUE","DAYS_LAST_DUE_1ST_VERSION","DAYS_LAST_DUE","DAYS_TERMINATION"]]
corr_refused= refused[["AMT_ANNUITY","AMT_APPLICATION","AMT_CREDIT","AMT_GOODS_PRICE","CNT_PAYMENT","DAYS_FIRST_DRAWING","DAYS_FIRST_DUE","DAYS_LAST_DUE_1ST_VERSION","DAYS_LAST_DUE","DAYS_TERMINATION"]]
corr_cancelled= cancelled[["AMT_ANNUITY","AMT_APPLICATION","AMT_CREDIT","AMT_GOODS_PRICE","CNT_PAYMENT","DAYS_FIRST_DRAWING","DAYS_FIRST_DUE","DAYS_LAST_DUE_1ST_VERSION","DAYS_LAST_DUE","DAYS_TERMINATION"]]
corr_unused= unused[["AMT_ANNUITY","AMT_APPLICATION","AMT_CREDIT","AMT_GOODS_PRICE","CNT_PAYMENT","DAYS_FIRST_DRAWING","DAYS_FIRST_DUE","DAYS_LAST_DUE_1ST_VERSION","DAYS_LAST_DUE","DAYS_TERMINATION"]]

corelation for numerical columns for approved

In [ ]:
plt.figure(figsize = [10,10])
sns.heatmap(corr_approved.corr(), annot = True, cmap = 'Blues')
plt.title('heatmap for approved')
plt.show()

Corelation for numericalcolumns of refused

In [ ]:
plt.figure(figsize = [10,10])
sns.heatmap(corr_refused.corr(), annot = True, cmap = 'Blues')
plt.title('heatmap for refused')
plt.show()

FOR  CANCELLED

In [ ]:
plt.figure(figsize = [10,10])
sns.heatmap(corr_cancelled.corr(), annot = True, cmap = 'Blues')
plt.title('heatmap for cancelled')
plt.show()

for UNSUED

In [ ]:
plt.figure(figsize = [10,10])
sns.heatmap(corr_unused.corr(), annot = True, cmap = 'Blues')
plt.title('heatmap for unused')
plt.show()

MERGE THE APPLICATION AND PREVIOUS APPLICATION DATAFRAMES

In [ ]:
merge_data = app_data.merge(papp_data, on='SK_ID_CURR', how='left')
merge_data.head()

In [ ]:
merge_data.info()

FILTERING REQUIRED FOR ANALYSIS

In [ ]:
for col in merge_data.columns:
  if col.startswith("FLAG"):
    merge_data.drop(col, axis = 1, inplace = True)

In [ ]:
merge_data.shape

In [ ]:
res1 = pd.pivot_table(data = merge_data,index = ["NAME_INCOME_TYPE","NAME_CLIENT_TYPE"],columns = ["NAME_CONTRACT_STATUS"],values=["TARGET"],aggfunc="mean")
res1

In [ ]:
plt.figure(figsize=[10,10])
sns.heatmap(res1,annot=True,cmap="BuPu")
plt.show()

In [ ]:
res2 = pd.pivot_table(data = merge_data,index = ["CODE_GENDER","NAME_SELLER_INDUSTRY"],columns = ["TARGET"],values = "AMT_GOODS_PRICE_x",aggfunc="sum")
res2

In [ ]:
plt.figure(figsize=[10,10])
sns.heatmap(res2,annot=True,cmap="BuPu")
plt.show()